<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title></title>
    <base href="__BASE_HREF__" />
    <link rel="stylesheet" href="__STATIC_URI__/css/all.css" />
    <link rel="stylesheet" href="__CLOUD_FRONT_URI__/global/5/css/uikit.almost-flat.min.css" />
    <link rel="stylesheet" href="__CLOUD_FRONT_URI__/global/5/css/components/notify.almost-flat.min.css" />
    <link rel="icon" href="//cdnleo.s3.amazonaws.com/logos/leo_icon.png" type="image/png" />
    <link rel="shortcut icon" href="//cdnleo.s3.amazonaws.com/logos/leo_icon.png" type="image/png" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsrender/0.9.75/jsrender.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/aws-sdk/2.3.17/aws-sdk.min.js" ></script>
    <script type="text/javascript" src="__CLOUD_FRONT_URI__/global/5/js/uikit.min.js" ></script>
    <script type="text/javascript" src="__CLOUD_FRONT_URI__/global/5/js/components/notify.min.js" ></script>
  </head>
  <body>
    <div id="pageHeader" class="uk-width-1-1">
        <h1>Sample</h1>
    </div>
  </body>
</html>
